
input:nth-of-type(10):checked ~
input:nth-of-type(28):checked ~
input:nth-of-type(43):not(:checked) {
  counter-increment: f 1 k 2;
}

input:nth-of-type(2):checked ~
input:nth-of-type(4):not(:checked) ~
input:nth-of-type(5):checked {
  counter-increment: p 3 s 3 v 1;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(5):checked ~
input:nth-of-type(6):checked {
  counter-increment: q 3 v 3 f 6;
}

input:nth-of-type(7):checked ~
input:nth-of-type(9):not(:checked) ~
input:nth-of-type(11):not(:checked) {
  counter-increment: y 3 d 1 j 2;
}

input:nth-of-type(5):not(:checked) ~
input:nth-of-type(6):not(:checked) ~
input:nth-of-type(18):not(:checked) {
  counter-increment: g 3 v 2 f 1;
}

input:nth-of-type(6):checked ~
input:nth-of-type(14):checked ~
input:nth-of-type(17):not(:checked) {
  counter-increment: f 1 t 1 g 3 j 2 v 2 i 1;
}

input:nth-of-type(10):checked ~
input:nth-of-type(13):checked ~
input:nth-of-type(31):checked {
  counter-increment: t 2 o 1 v 3;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(13):not(:checked) ~
input:nth-of-type(14):not(:checked) {
  counter-increment: v 2 s 1 f 1;
}

input:nth-of-type(16):not(:checked) ~
input:nth-of-type(31):not(:checked) ~
input:nth-of-type(33):not(:checked) {
  counter-increment: s 2 e 2 j 1 v 3 i 3;
}

input:nth-of-type(8):checked ~
input:nth-of-type(9):not(:checked) ~
input:nth-of-type(27):checked {
  counter-increment: v 2 u 2 g 2;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(29):checked ~
input:nth-of-type(30):checked {
  counter-increment: f 1 r 2 v 3 j 3;
}

input:nth-of-type(8):checked ~
input:nth-of-type(31):checked ~
input:nth-of-type(39):checked {
  counter-increment: s 2 j 2 f 2 o 2 u 2;
}

input:nth-of-type(9):checked ~
input:nth-of-type(14):not(:checked) ~
input:nth-of-type(36):checked {
  counter-increment: f 2 p 2 j 2;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(2):not(:checked) ~
input:nth-of-type(3):not(:checked) {
  counter-increment: c 2 y 1;
}

input:nth-of-type(4):checked ~
input:nth-of-type(8):checked ~
input:nth-of-type(13):checked {
  counter-increment: j 1 k 1 q 1 v 2;
}

input:nth-of-type(13):not(:checked) ~
input:nth-of-type(15):not(:checked) ~
input:nth-of-type(22):checked {
  counter-increment: v 3 t 1;
}

input:nth-of-type(5):not(:checked) ~
input:nth-of-type(10):checked ~
input:nth-of-type(29):not(:checked) {
  counter-increment: j 3 t 3 d 3 h 3;
}

input:nth-of-type(18):checked ~
input:nth-of-type(39):not(:checked) ~
input:nth-of-type(42):checked {
  counter-increment: o 1 v 2;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(2):not(:checked) ~
input:nth-of-type(4):checked {
  counter-increment: u 2 y 2 e 3 n 3 j 1;
}

input:nth-of-type(4):checked ~
input:nth-of-type(6):not(:checked) ~
input:nth-of-type(8):not(:checked) {
  counter-increment: j 1 g 2 e 3;
}

input:nth-of-type(3):not(:checked) ~
input:nth-of-type(4):not(:checked) ~
input:nth-of-type(7):checked {
  counter-increment: t 1 y 2 e 2 j 3;
}

input:nth-of-type(16):not(:checked) ~
input:nth-of-type(20):checked ~
input:nth-of-type(28):not(:checked) {
  counter-increment: k 3 l 2 j 1 v 3 p 1;
}

input:nth-of-type(8):checked ~
input:nth-of-type(9):checked ~
input:nth-of-type(12):checked {
  counter-increment: v 1 f 1 t 1 g 3;
}

input:nth-of-type(2):checked ~
input:nth-of-type(6):checked ~
input:nth-of-type(16):not(:checked) {
  counter-increment: p 2 f 1 k 2 j 3;
}

input:nth-of-type(5):not(:checked) ~
input:nth-of-type(7):not(:checked) ~
input:nth-of-type(10):checked {
  counter-increment: j 2 o 2 k 1 g 1 c 2;
}

input:nth-of-type(1):not(:checked) ~
input:nth-of-type(2):checked ~
input:nth-of-type(9):not(:checked) {
  counter-increment: d 1 f 1 t 3;
}